.btn {
    margin-right: 10px;
}
tbody{
    font-size: 19px;
}
thead{
    font-size: 20px;
}
.image{
    width: 100%;
    max-width: 100px;
}
.profile{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;
}
.input-btn{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    opacity: 0;
}